  <div class="row">
        <div class="col s12">
          <div class="card grey lighten-5">
            <div class="card-content">

 
         
         <table class="striped responsive-table">
        <thead>
          <tr>
              <th data-field="checkbox"></th>
              <th data-field="id">Name</th>
              <th data-field="name">Version</th>
              <th data-field="price">Description</th>
              <th data-field="price">Status</th>
          </tr>
        </thead>

        <tbody>
          <tr>
             <td> <input type="checkbox" class="filled-in" id="test5" /><label for="test5"></label></td>
              <td>Name</td>
              <td>Version</td>
              <td>Description</td>
              <td>Status</td>
          </tr>
          <tr>
             <td> <input type="checkbox" class="filled-in" id="test6" /><label for="test6"></label></td>
              <td>Name</td>
              <td>Version</td>
              <td>Description</td>
              <td>Status</td>
          </tr>
          <tr>
             <td> <input type="checkbox" class="filled-in" id="test7" /><label for="test7"></label></td>
              <td>Name</td>
              <td>Version</td>
              <td>Description</td>
              <td>Status</td>
          </tr>

          
        </tbody>
      </table>


          </div>
        </div>
      </div>
    </div>
