{
    "swagger": "2.0",
    "info": {
        "title": "SONATA's SP API",
        "description": "This is a proposal for the SONATA's SP API",
        "version": "1.0.0"
    },
    "host": "sp.sonata-nfv.eu",
    "schemes": [
        "http"
    ],
    "basePath": "/api",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/packages": {
            "get": {
                "summary": "Packages",
                "description": "The Packages endpoint returns information about the SONATA's Service Platform packages available. The response includes the package name, author, version and content.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "The id of the Package in the Service Platform. If provided, only the information about that package is returned.",
                        "required": false,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "package_name",
                        "in": "query",
                        "description": "The name of the Package, as given by the Developer.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "author_name",
                        "in": "query",
                        "description": "The name of the Developer.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Packages"
                ],
                "responses": {
                    "200": {
                        "description": "An array of packages",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Package"
                            }
                        }
                    },
                    "404": {
                        "description": "No package with the given ID was found.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Package"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "summary": "Package on-boarding",
                "description": "The Packages endpoint accepts information about the **SONATA's Service Platform** package, containing all the required meta-data.",
                "parameters": [
                    {
                        "name": "name",
                        "in": "body",
                        "description": "The name of the Package, as given by the Developer.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "developer_name",
                        "in": "body",
                        "description": "The name of the Developer.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "description",
                        "in": "body",
                        "description": "The description of the Package.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "image_url",
                        "in": "body",
                        "description": "The URL of the package.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Packages"
                ],
                "responses": {
                    "200": {
                        "description": "An array of packages",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Package"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Package": {
            "type": "object",
            "properties": {
                "package_id": {
                    "type": "string",
                    "description": "Unique identifier representing a specific package."
                },
                "name": {
                    "type": "string",
                    "description": "Display name of package."
                },
                "description": {
                    "type": "string",
                    "description": "Description of package."
                },
                "version": {
                    "type": "string",
                    "description": "Version of the package."
                },
                "developer_name": {
                    "type": "string",
                    "description": "Name of the package author."
                },
                "image_url": {
                    "type": "string",
                    "description": "Image URL representing the package."
                }
            }
        }
    },
    "Error": {
        "type": "object",
        "properties": {
            "code": {
                "type": "integer",
                "format": "int32"
            },
            "message": {
                "type": "string"
            },
            "fields": {
                "type": "string"
            }
        }
    }
}
