     <ul id="slide-out" class="side-nav fixed">
      <li class="logo"><img src="media/sonata.jpg"/></li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header waves-effect waves-teal">Settings<i class="mdi-navigation-arrow-drop-down"></i></a>
            <div class="collapsible-body">
              <ul>
                <li class="waves-effect waves-teal lighten-5"><a href="#/user/profile" >User Profile</a></li>
                <li class="waves-effect waves-teal"><a href="#/user/settings">User Settings</a></li>
              </ul>
            </div>
          </li>
        </ul>
        </li>
        <li class="no-padding">
         <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header waves-effect waves-teal">Catalogue<i class="mdi-navigation-arrow-drop-down"></i></a>
            <div class="collapsible-body">
              <ul>
                <li class="waves-effect waves-teal"><a href="#/catalogue/userServices" >User Services</a></li>
                <li class="waves-effect waves-teal"><a href="#/catalogue/allServices">All services</a></li>
              </ul>
            </div>
          </li>
          </ul>         
        
      </li>
      <li class="no-padding">
         <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header waves-effect waves-teal">Instances<i class="mdi-navigation-arrow-drop-down"></i></a>
            <div class="collapsible-body">
              <ul>
                <li class="waves-effect waves-teal"><a href="#/instances/overview">Overview</a></li>
                <li class="waves-effect waves-teal"><a href="#/instances/userServices">User Services</a></li>
              </ul>
            </div>
          </li>
          </ul>         
        
      </li>
    </ul>


