  <div class="row">
        <div class="col s12">
          <div class="card grey lighten-5">
            <div class="card-content">

 
      <div class="row">
       <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>Language</label>
  </div>
       <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>TimeZone</label>
  </div>
    
     </div>
    
  </div>
  </div>
  </div>
  </div>
  
  <script>
  
    $('select').material_select();
  
  </script>